<footer class="mt-auto pt-10 flex flex-col items-center gap-5">
    <div class="flex justify-around w-full">
        <a href="#" class="text-secondary-black">A propos</a>
        <a href="#" class="text-secondary-black">Politique de confidentialité</a>
    </div>

    <div class="flex gap-4">
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-instagram"><rect width="20" height="20" x="2" y="2" rx="5" ry="5"/><path d="M16 11.37A4 4 0 1 1 12.63 8 4 4 0 0 1 16 11.37z"/><line x1="17.5" x2="17.51" y1="6.5" y2="6.5"/></svg>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#757575" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-twitter"><path d="M22 4s-.7 2.1-2 3.4c1.6 10-9.4 17.3-18 11.6 2.2.1 4.4-.6 6-2C3 15.5.5 9.6 3 5c2.2 2.6 5.6 4.1 9 4-.9-4.2 4-6.6 7-3.8 1.1 0 3-1.2 3-1.2z"/></svg>
        </a>
        <a href="#">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M10 0.25C4.61522 0.25 0.25 4.61522 0.25 10C0.25 15.3848 4.61522 19.75 10 19.75C15.3848 19.75 19.75 15.3848 19.75 10C19.7443 4.61758 15.3824 0.255684 10 0.25ZM10.75 18.2153V12.25H13C13.4142 12.25 13.75 11.9142 13.75 11.5C13.75 11.0858 13.4142 10.75 13 10.75H10.75V8.5C10.75 7.67157 11.4216 7 12.25 7H13.75C14.1642 7 14.5 6.66421 14.5 6.25C14.5 5.83579 14.1642 5.5 13.75 5.5H12.25C10.5931 5.5 9.25 6.84315 9.25 8.5V10.75H7C6.58579 10.75 6.25 11.0858 6.25 11.5C6.25 11.9142 6.58579 12.25 7 12.25H9.25V18.2153C4.85788 17.8144 1.55787 14.0299 1.75854 9.62409C1.95922 5.21827 5.58962 1.74947 10 1.74947C14.4104 1.74947 18.0408 5.21827 18.2415 9.62409C18.4421 14.0299 15.1421 17.8144 10.75 18.2153Z" fill="#757575"/>
            </svg>
        </a>
    </div>
    <p class="text-secondary-black text-center">&copy; 2024, Waw - Where Are We</p>
</footer>